extends ./layout

block head
    link(href="http://192.168.1.180:8081/css/dark.css?1098", rel="stylesheet")
    script.
        $( document ).ready(function() {
            $('input[type=submit]').on('click', function(e){
                e.preventDefault();
                $.get('/api/tvDB/' + $('#showName').val(), function(data){
                    if (data.error) {
                        $('.shows').html('<pre>' + data.error + '</pre>');
                    } else {
                        var show = data.Data.Series;
                        var html = '';
                        if (show[0]) {
                            for (i = 0; i < Object.keys(data.Data.Series).length; i++) {
                                html += JSON.stringify(show[i], null, 4);
                            }
                        } else {
                            html = JSON.stringify(show, null, 4);
                        }
                        $('.shows').html('<pre>' + html + '</pre>');
                    }
                });
            });
        });

block content
    #subMenu
        span
            a.btn(href="/addShow")
                | Add show
            a.btn(href="/postProcess")
                | Post processing
            a.btn(href="/updatePLEX")
                | Update PLEX
            a.btn(href="/manageTorrents")
                | Manage Torrents
            a.btn(href="/restart")
                | Restart
            a.btn(href="/shutdown")
                | Shutdown
    form(action="/api/tvDB/", method="GET")
        input(type="text")#showName
        input(type="submit")
    .shows
