block head
    link(href="//vjs.zencdn.net/4.10/video-js.css")
    script(src="//vjs.zencdn.net/4.10/video.js")
    script(src="/js/player.js")

block content
    video#video.video-js.vjs-default-skin(src="/movie/3454534.mp4", controls)
